﻿@model IEnumerable<PayrollManagementSystem.ViewModels.EmployeeListViewModel>
@functions{
    public string IsJoiningDate(DateTime? JoiningDate)
    {
        if (JoiningDate.HasValue && (DateTime.Now.Day == JoiningDate.Value.Day))
        {
            return "info";
        }
        return "";
    }
}
@helper Alert(DateTime? JoiningDate,string Name)
{
    if (JoiningDate.HasValue && (DateTime.Now.Day == JoiningDate.Value.Day))
    {
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@Name's!</strong> joining date is today.
        </div>
    }

}


<input type="text" class="form-control" id="searchBox" placeholder="Search">
<br />
<div class="panel panel-primary">
    <div class="panel-heading">Employee List</div>
    <div class="table-responsive ">
        <table class="table table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FatherName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Designation)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr class="@IsJoiningDate(item.JoiningDate)">
                    @Alert(item.JoiningDate, item.Name)
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FatherName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "Employee", new { id = item.Id }, null) |
                        @*@Html.ActionLink("Details", "Details", "Employee", new { id = item.Id }, null)|*@
                        @Html.ActionLink("Delete", "Delete", "Employee", new { id = item.Id }, null)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>