﻿@{
    ViewBag.Title = "Index";
    ViewBag.Active = "Employees";
}
<div id="notification" class="alert alert-success hide">
    <a href="#" class="close">&times;</a>
    <strong>Success!</strong> Employees leaves has been reset.
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<button id="refreshLeaves" class="pull-right btn btn-success" data-toggle="modal" data-target="#myModal"><i class="glyphicon glyphicon-refresh"></i> Refresh Leaves</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog ">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Refresh Leaves</h4>
            </div>
            <div class="modal-body">
                <p>It will reset remaining leaves of all Employees to their allowed leaves. Press 'Ok' to continue.</p>
            </div>
            <div class="modal-footer">
                <button id="Ok" type="button" class="btn btn-success pull-left" data-dismiss="modal">Ok</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<div>
    @Html.Action("ShowEmployeeList", "Employee")
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#Ok').click(function () {
                $.ajax({
                    url: 'Employee/RefreshLeaves',
                    type: 'GET',
                    success: function (data) {
                        $('#notification').removeClass("hide");
                    },
                    error: function (e) {
                        console.log(e.message);
                    }
                });
            });

            $('.close').click(function () {
                $('.alert').addClass("hide");
            })

            $("table tr:not(:first-child)").on("click", function () {
                var id = parseInt($(this).find('td:first').text(), 10);
                window.location.replace("Employee/Details/" + id);
            })
            $("#searchBox").keyup(function () {
                var data = this.value.split(" ");
                var jo = $("table").find("tr");
                if (this.value == "") {
                    jo.show();
                    return;
                }
                jo.hide();
                jo.filter(function (i, v) {
                    var $t = $(this);
                    for (var d = 0; d < data.length; ++d) {
                        if ($t.is(":contains('" + data[d] + "')") || $t.is(":contains('Name')") ) {
                            return true;
                        }
                    }
                    return false;
                })
                .show();
            }).focus(function () {
                this.value = "";
                $(this).css({
                    "color": "black"
                });
                $(this).unbind('focus');
            })
        });
    </script>
}