﻿@model PayrollManagementSystem.Models.Leaves1

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Leaves1</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.Employee_Id, "Employee_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                @Html.DropDownList("Employee_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Employee_Id)
                Remaining Leaves:<span id="remainingLeaves"></span>
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveType_Id, "LeaveType_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("LeaveType_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.LeaveType_Id)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.FromDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FromDate)
                @Html.ValidationMessageFor(model => model.FromDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ToDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ToDate)
                @Html.ValidationMessageFor(model => model.ToDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeaveRemarks, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.LeaveRemarks)
                @Html.ValidationMessageFor(model => model.LeaveRemarks)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $('#Employee_Id').on('change', function () {
        $.get("GetRemainingLeaves/?EmployeeId=" + this.value, function (data) {
            $('#remainingLeaves').html(data);
        });
    });
</script>