﻿@model PayrollManagementSystem.Models.Leaves1

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Leaves1</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FromDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FromDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ToDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ToDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeaveType.Types)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveType.Types)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveType.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveType.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LeaveType.IsCutFromLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeaveType.IsCutFromLeave)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
