﻿@model IEnumerable<PayrollManagementSystem.Models.Leaves1>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "Leave";
}

<h2>Leave Management</h2>

<p class="row">
    <div class="pull-left breadcrumb">
        @Html.ActionLink("Create New", "Create")
    </div>
    <div class="pull-right breadcrumb ">
        @Html.ActionLink("For all Employees", "ForAllEmployees")
    </div>
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Employee.Name)*@
            Employee Name
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveRemarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveType.Types)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LeaveType.IsCutFromLeave)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveRemarks)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.LeaveType.Types)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LeaveType.IsCutFromLeave)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
