﻿@{
    ViewBag.Title = "View1";
    ViewBag.Active = "Reports";
}

<h1 class="container">Reports</h1>

<div class="list-group">
    <a href="@Url.Action("Create","Payroll")" class="list-group-item ">
        <h4 class="list-group-item-heading">Employee Payroll</h4>
        <p class="list-group-item-text"><small>Monthly employee payroll</small></p>
    </a>
    <a href="@Url.Action("NoteCombination","Reports")" class="list-group-item ">
        <h4 class="list-group-item-heading">Note Combination</h4>
        <p class="list-group-item-text"><small>List of all employees salary and Note Combination</small></p>
    </a>
    
</div>