﻿@model PayrollManagementSystem.ViewModel.PayMonth
@{
    ViewBag.Title = "NoteCombination";
    ViewBag.Active = "Reports";
}

<h2>NoteCombination</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row ">
        @Html.ValidationSummary(true)

        @Html.LabelFor(model => model.Month, new { @class = "text-muted col-sm-1 " })
        @Html.EditorFor(model => model.Month, new { @class = "col-sm-5" })
        @Html.ValidationMessageFor(model => model.Month)
        <div class="col-sm-3">
            <input type="submit" value="Print Report" class="btn btn-default " />
        </div>
    </div>
}