﻿@inherits System.Web.Mvc.WebViewPage<System.DateTime?>
@*@model DateTime?*@
<div class="col-xs-6 col-md-3 col-sm-3 ">
    <div class="form-group">
        @Html.TextBox("", (Model.HasValue ? String.Format("{0:dd/MM/yyyy hh:mm tt}", Model.Value) : string.Empty), new { @class = "dateTimePicker form-control" })
    </div>
</div>
<script type="text/javascript">
    $('.dateTimePicker ').datetimepicker({
        format: 'DD/MM/YYYY hh:mm A'
    });
</script>
