﻿@model PayrollManagementSystem.Models.Setting

@{
    ViewBag.Title = "Create";
    ViewBag.Active = "Settings";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Setting</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="row">
            <div class="form-group col-md-3">
                <div class="text-muted">Entry Time</div>
                <div class='input-group date' id='entryTime'>
                    @Html.TextBoxFor(model => model.EntryTime, new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <div class="text-muted">Exit Time</div>
                <div class='input-group date' id='exitTime'>
                    @Html.TextBoxFor(model => model.ExitTime, new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-3">
                <div class="text-muted">
                    Working Days
                </div>
                @Html.EditorFor(model => model.WorkingDays)
                @Html.ValidationMessageFor(model => model.WorkingDays)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#entryTime').datetimepicker({
                format: 'LT'
            });
            $('#exitTime').datetimepicker({
                format: 'LT'
            });
        });
    </script>
}