﻿@model PayrollManagementSystem.Models.Setting

@{
    ViewBag.Title = "Details";
    ViewBag.Active = "Settings";
}

<h2>Details</h2>

<div>
    <h4>Setting</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EntryTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EntryTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExitTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkingDays)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

