﻿@model PayrollManagementSystem.Models.Setting

@{
    ViewBag.Title = "Edit";
    ViewBag.Active = "Settings";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        @*<div class="form-group">0
                @Html.LabelFor(model => model.EntryTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.EntryTime)
                    @Html.ValidationMessageFor(model => model.EntryTime)
                </div>
            </div>*@

        @*<div class="form-group">
                @Html.LabelFor(model => model.ExitTime, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ExitTime)
                    @Html.ValidationMessageFor(model => model.ExitTime)
                </div>
            </div>*@
        <div class="row">
            <div class="form-group col-md-3">
                <div class="text-muted">Entry Time</div>
                <div class='input-group date' id='entryTime'>
                    @Html.TextBoxFor(model => model.EntryTime, new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-3">
                <div class="text-muted">Exit Time</div>
                <div class='input-group date' id='exitTime'>
                    @Html.TextBoxFor(model => model.ExitTime, new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                0
                @Html.LabelFor(model => model.WorkingDays, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.WorkingDays)
                    @Html.ValidationMessageFor(model => model.WorkingDays)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $('#entryTime').datetimepicker({
        format: 'DD/MM/YYYY hh:mm A'
    });
    $('#exitTime').datetimepicker({
        format: 'DD/MM/YYYY hh:mm A'
    });
</script>
