﻿@model IEnumerable<PayrollManagementSystem.ViewModels.AttendanceListViewModel>

@{
    ViewBag.Title = "AttendanceList";
}
@functions{
    public string AttendanceStatus(DateTime? CheckInTime,DateTime? CheckOutTime,bool IsAbsent){
        if (IsAbsent)
            return "info";
        if ((CheckInTime.HasValue) && (CheckOutTime.HasValue))
            return "danger";
        if ((CheckInTime.HasValue) && (!CheckOutTime.HasValue))
            return "success";
        return "";
    }
}

<div class="pull-right">
    <span class="label label-default">Not Marked</span>
    @*<span class="label label-primary">Primary</span>*@
    <span class="label label-success">Checked In</span>
    @*<span class="label label-warning">Info</span>*@
    <span class="label label-danger">Checked out</span>
    <span class="label label-info">Absent</span>
</div>
<input type="text" class="form-control" id="searchBox" placeholder="Search">
<br/>
<div class="panel panel-primary">
    <div class="panel-heading">Attendance List</div>

    <div class="table-responsive ">
        <table class="table table-hover">
            <tr>
                <th>
                    #
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Designation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckInTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CheckOutTime)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {       @Html.HiddenFor(modelItem => item.Id)
                <tr class="@AttendanceStatus(item.CheckInTime,item.CheckOutTime,item.IsAbsent)">
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Designation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckInTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CheckOutTime)
                    </td>
                    <td>
                        @*@Html.ActionLink("Mark Attendance", "Create", new { EmployeeId = item.EmployeeId })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                    </td>
                </tr>
            }

        </table>
    </div>
</div>

    <script type="text/javascript">
        $(function () {
            //To show a div containing Check In/out button and name,designation,picture of employee whose row is clicked
            $("table tr:not(:first-child)").on("click", function () {
                var EmployeeId = parseInt($(this).find('td:first').text(), 10);
                window.location.replace("Attendance/MarkAttendance/?EmployeeId=" + EmployeeId);
            })

            //To search employee by name or designation
            $("#searchBox").keyup(function () {
                //split the current value of searchInput
                var data = this.value.split(" ");
                //create a jquery object of the rows
                var jo = $("table").find("tr");
                if (this.value == "") {
                    jo.show();
                    return;
                }
                //hide all the rows
                jo.hide();

                //Recusively filter the jquery object to get results.
                jo.filter(function (i, v) {
                    var $t = $(this);
                    for (var d = 0; d < data.length; ++d) {
                        if ($t.is(":contains('" + data[d] + "')") || $t.is(":contains('Name')")) {
                            return true;
                        }
                    }
                    return false;
                })
                //show the rows that match.
                .show();
            }).focus(function () {
                this.value = "";
                $(this).css({
                    "color": "black"
                });
                $(this).unbind('focus');
            })
        });
    </script>
