﻿@model PayrollManagementSystem.Models.EmployeeAttendenceViewModel
@{
    ViewBag.Title = "Attendance";
    ViewBag.Active = "Attendance";
}
@using (Html.BeginForm("CheckIn"))
{
       @Html.AntiForgeryToken()
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 ">
        <img data-src="pic.jpg" class="img-responsive img-rounded" alt="200x200" src="pic.jpg" data-holder-rendered="true">
        <h4 id="name">@Html.DisplayFor(model => model.Name)</h4>
        <span id="designation" class="text-muted">@Html.DisplayFor(model => model.Designation)</span>
    </div>

    <div class="col-xs-6 col-sm-3 placeholder">
        <div class="form-group">
            
            <div class="text-muted">CheckIn Time</div>
            <div class='input-group date' id='datetimepicker1'>
                @Html.TextBoxFor(model => model.CheckInTime, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
                @*<input type='text' id="date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>*@
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                <strong>Is Absent ?</strong>
            </label>
        </div>
        <br />
        <button type="submit" class="btn btn-success btn-lg btn-block btn-lg">Check In</button>
    </div>

    <div class="col-xs-6 col-sm-3">
        <div class="form-group">
            <div class="text-muted">CheckOut Time</div>
            <div class='input-group date' id='datetimepicker1'>
                <input type='text' id="date" class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                <strong>Is LT included ?</strong>
            </label>
        </div>
        <br />
        <button type="button" class="btn btn-danger btn-lg btn-block btn-lg">Check Out</button>
    </div>
    <div class="col-xs-6 col-sm-3">
        
    </div>
</div>

}