﻿@model PayrollManagementSystem.Models.Attendance

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Attendance</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAbsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAbsent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLTIncluded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLTIncluded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkHoursPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkHoursPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OvertimePay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimePay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
