﻿@model PayrollManagementSystem.Models.Attendance

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Attendance</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsAbsent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsAbsent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsLTIncluded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsLTIncluded)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckInTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckInTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOutTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOutTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkHoursPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkHoursPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OvertimePay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimePay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
