﻿@model PayrollManagementSystem.Models.Attendance

@{
    ViewBag.Title = "Edit";
    ViewBag.Active = "Attendance";
}

<h2>Edit</h2>

@using (Html.BeginForm("MarkAttendance","Attendance"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Attendance</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group ">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class='input-group col-md-3' id="theDate">
                @Html.TextBoxFor(model => model.Date, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsAbsent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsAbsent)
                @Html.ValidationMessageFor(model => model.IsAbsent)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsOvertime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsOvertime)
                @Html.ValidationMessageFor(model => model.IsOvertime)
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsLTIncluded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLTIncluded)
                @Html.ValidationMessageFor(model => model.IsLTIncluded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CheckInTime, new { @class = "control-label col-md-2" })
            <div class='input-group date col-md-3' id="checkIn">
                @Html.TextBoxFor(model => model.CheckInTime, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.CheckOutTime, new { @class = "control-label col-md-2" })
            <div class='input-group date col-md-3' id="checkOut">
                @Html.TextBoxFor(model => model.CheckOutTime, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.WorkHoursPay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkHoursPay)
                @Html.ValidationMessageFor(model => model.WorkHoursPay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OvertimePay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OvertimePay)
                @Html.ValidationMessageFor(model => model.OvertimePay)
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.Employee_Id, "Employee_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">*@
        <div class="hide">
            @Html.DropDownList("Employee_Id", String.Empty)
        </div>
        @*@Html.ValidationMessageFor(model => model.Employee_Id)
                </div>
            </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(function () {
        $('#theDate').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A'
        });
        $('#checkIn').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A'
        });
        $('#checkOut').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A'
        });
        //$('#checkOut').data("DateTimePicker").minDate($("#checkIn").data("DateTimePicker").date());
        //$("#checkIn").on("dp.change", function (e) {
        //    $('#checkOut').data("DateTimePicker").minDate(e.date);
        //});
    });
</script>
