﻿@model PayrollManagementSystem.Models.Attendance

@{
    ViewBag.Title = "Create";
    ViewBag.Active = "Attendance";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Employee_Id)
    <div class="row placeholders well well-lg">
        <div class="col-xs-6 col-sm-3 ">
            <br />
            <br />
            @*<img data-src="pic.jpg" class="img-responsive img-rounded" alt="200x200" src="pic.jpg" data-holder-rendered="true">*@
            <h4 id="name">@Model.Employee.Name</h4>
            <span id="designation" class="text-muted">@Model.Employee.Designation</span>
        </div>

        <div class="col-xs-6 col-sm-3 placeholder">
            <div class="form-group">
                <div class="text-muted">CheckIn Time</div>
                <div class='input-group date' id='checkIn'>
                    @Html.TextBoxFor(model => model.CheckInTime, new { @class = " form-control " })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-success btn-lg btn-block btn-lg @(Model.CheckInTime.HasValue||Model.IsAbsent? "disabled" : "")">Check In</button>
        </div>


        <div class="col-xs-6 col-sm-3">
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IsAbsent)
                    <strong>Is Absent ?</strong>
                </label>
            </div>
            <br />
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IsOvertime)
                    <strong>Is Overtime?</strong>
                </label>
            </div>
            <br />
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(model => model.IsLTIncluded)
                    <strong>Is LT included ?</strong>
                </label>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="form-group">
                <div class="text-muted">CheckOut Time</div>
                <div class='input-group date' id='checkOut'>
                    @Html.TextBoxFor(model => model.CheckOutTime, new { @class = "form-control" })
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
            <br />
            <button type="submit" class="btn btn-danger btn-lg btn-block btn-lg ">Check Out</button>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Enter Previous Attendance", "MarkPreviousAttendance", new { EmployeeId = Model.Employee_Id })
</div>


@Html.Action("PreviousAttendences", "Attendance", new {id=Model.Employee_Id })


@section scripts{
<script type="text/javascript">
            $(function () {
                $('#checkIn').datetimepicker({
                    format: 'DD/MM/YYYY hh:mm A'
                });
                $('#checkOut').datetimepicker({
                    format: 'DD/MM/YYYY hh:mm A'
                });
                $('#checkOut').data("DateTimePicker").minDate($("#checkIn").data("DateTimePicker").date());
                $("#checkIn").on("dp.change", function (e) {
                    $('#checkOut').data("DateTimePicker").minDate(e.date);
                });
            });
</script>
}






@*@section scripts{
        <script type="text/javascript">
            $(function () {
                //To show a div containing Check In/out button and name,designation,picture of employee whose row is clicked
                var id = parseInt($(".hide").val(), 10);
                    alert(id);

                    $.getJSON("/Employee/ShowEmployeeAttendence/" + id, function (data) {
                        //$(".img").html(data.FirstName + " " + data.LastName);
                        $("#name").html(data.Name);
                        $("#designation").html(data.Designation);
                    });

            })
        </script>
    }*@