﻿@model PayrollManagementSystem.ViewModels.MarkPreviousAttendanceViewModel
@{
    ViewBag.Title = "MarkPreviousAttendance";
    ViewBag.Active = "Attendance";
}

<h2>MarkPreviousAttendance</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(x => x.EmployeeId)
        <div class="form-group ">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class='input-group col-md-3' id="startDate">
                @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            <div class='input-group col-md-3' id="endDate">
                @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.IsAbsent, new { @class = "control-label col-md-2" })
            <div class="col-md-1">
                @Html.EditorFor(model => model.IsAbsent)
                @Html.ValidationMessageFor(model => model.IsAbsent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsLTIncluded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsLTIncluded)
                @Html.ValidationMessageFor(model => model.IsLTIncluded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsOvertime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsOvertime)
                @Html.ValidationMessageFor(model => model.IsOvertime)
            </div>
        </div>

        <div class="form-group ">
            @Html.LabelFor(model => model.CheckInTime, new { @class = "control-label col-md-2" })
            <div class='input-group col-md-3' id="checkIn">
                @Html.TextBoxFor(model => model.CheckInTime, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group ">
            @Html.LabelFor(model => model.CheckOutTime, new { @class = "control-label col-md-2" })
            <div class='input-group col-md-3' id="checkOut">
                @Html.TextBoxFor(model => model.CheckOutTime, new { @class = "form-control" })
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">
    $(function () {
        $('#startDate').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A'
        });
        $('#endDate').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A'
        });
        $('#endDate').data("DateTimePicker").minDate($("#startDate").data("DateTimePicker").date());
        $("#startDate").on("dp.change", function (e) {
            $('#endDate').data("DateTimePicker").minDate(e.date);
        });
        $('#checkIn').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A'
        });
        $('#checkOut').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A'
        });
        $('#checkOut').data("DateTimePicker").minDate($("#checkIn").data("DateTimePicker").date());
        $("#checkIn").on("dp.change", function (e) {
            $('#checkOut').data("DateTimePicker").minDate(e.date);
        });
    });
</script>
