﻿@model IEnumerable<PayrollManagementSystem.Models.Attendance>
<div class="panel panel-primary">
    <div class="panel-heading">Attendance</div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAbsent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsOvertime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsLTIncluded)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckInTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkHoursPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimePay)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Employee.Name)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAbsent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsOvertime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsLTIncluded)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckInTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheckOutTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkHoursPay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OvertimePay)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                    </td>*@
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>