﻿@model PayrollManagementSystem.Models.LeaveType

@{
    ViewBag.Title = "Details";
    ViewBag.Active = "Settings";
    
}

<h2>Details</h2>

<div>
    <h4>LeaveType</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Types)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Types)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsCutFromLeave)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsCutFromLeave)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
