﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
input[type=checkbox] {
  /* All browsers except webkit*/
  transform: scale(1.8);
  /* Webkit browsers*/
  -webkit-transform: scale(1.8);
}
/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}


.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
