﻿@model PayrollManagementSystem.Models.Loan

@{
    ViewBag.Title = "Delete";
    ViewBag.Active = "Loan";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Loan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Installments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Installments)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTaken)
        </dd>
        
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
