﻿@model PayrollManagementSystem.Models.Loan

@{
    ViewBag.Title = "Details";
    ViewBag.Active = "Loan";
}

<h2>Details</h2>

<div>
    <h4>Loan</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TotalLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RemainingLoan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RemainingLoan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Installments)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Installments)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
