﻿@model IEnumerable<PayrollManagementSystem.Models.Loan>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "Loan";
}

<h2>Loan Management</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalLoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RemainingLoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Installments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateTaken)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.MarkUpPercentage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrincipalAmount)
        </th>*@

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalLoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RemainingLoan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Installments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateTaken)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.MarkUpPercentage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrincipalAmount)
        </td>*@

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
