﻿@model PayrollManagementSystem.ViewModel.PayMonth

@{
    ViewBag.Title = "Create";
    ViewBag.Active = "Reports";
}

<h2>Payroll</h2>
<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row ">
        @Html.ValidationSummary(true)
        
        @Html.LabelFor(model => model.Month, new { @class = "text-muted col-sm-1 " })
        @Html.EditorFor(model => model.Month, new { @class = "col-sm-5" })
        @Html.ValidationMessageFor(model => model.Month)
        <div class="col-sm-3">
            <input type="submit" value="Create Payroll" class="btn btn-default " />
        </div>
    </div>
}
<hr />
@Html.Action("Index")
@*<div>
        @Html.ActionLink("Back to List", "Index")
    </div>*@

@*<script type="text/javascript">
        $(function(){
            $("#PayDate").blur(function () {
                if ($(this).val() != null && $("#Employee_Id").val()!="")
                    alert($(this).val() + " " + $("#Employee_Id").val());
            });
            $("#Employee_Id").change(function () {
                if ($(this).val() != "" && $("#PayDate").val() != "")
                    alert($(this).val() + " " + $("#PayDate").val());
            });
            var url = '@Url.Action("Report", "Reports", new { id = "PDF", empId ='+' $("#Employee_Id").val() , payMonth = $("#PayDate").val()})';
            $('#PdfReport').on('click', function () {
                window.location.replace("Reports/Report/" + $("#Employee_Id").val() + "/" + $("#PayDate").val()+"/PDF");
                //$.post('Reports/Report' + $("#Employee_Id").val() + '/' + $("#PayDate").val() + '/PDF', function (data) {
                });
            });
    </script>*@