﻿@model PayrollManagementSystem.Models.Payroll

@{
    ViewBag.Title = "Details";
    ViewBag.Active = "Reports";
}

<h2>Details</h2>

<div>
    <h4>Payroll</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BasicPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BasicPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalAllowances)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalAllowances)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDeductions)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDeductions)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PayMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PayMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalOvertimePay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalOvertimePay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalWorkHoursPay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalWorkHoursPay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkHours)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkHours)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkHoursRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkHoursRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Overtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Overtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OvertimeRate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OvertimeRate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LeavesThisMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LeavesThisMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoanRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoanRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdvanceRepayment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdvanceRepayment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bonus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bonus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Absents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Absents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Employee.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Employee.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
