﻿@model PayrollManagementSystem.Models.Payroll

@{
    ViewBag.Title = "Edit";
    ViewBag.Active = "Reports";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Payroll</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.BasicPay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BasicPay)
                @Html.ValidationMessageFor(model => model.BasicPay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalAllowances, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalAllowances)
                @Html.ValidationMessageFor(model => model.TotalAllowances)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalDeductions, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalDeductions)
                @Html.ValidationMessageFor(model => model.TotalDeductions)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NetPay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NetPay)
                @Html.ValidationMessageFor(model => model.NetPay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayDate)
                @Html.ValidationMessageFor(model => model.PayDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PayMode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PayMode)
                @Html.ValidationMessageFor(model => model.PayMode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalOvertimePay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalOvertimePay)
                @Html.ValidationMessageFor(model => model.TotalOvertimePay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalWorkHoursPay, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalWorkHoursPay)
                @Html.ValidationMessageFor(model => model.TotalWorkHoursPay)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartDate)
                @Html.ValidationMessageFor(model => model.StartDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndDate)
                @Html.ValidationMessageFor(model => model.EndDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Employee_Id, "Employee_Id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Employee_Id", String.Empty)
                @Html.ValidationMessageFor(model => model.Employee_Id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkHours, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkHours)
                @Html.ValidationMessageFor(model => model.WorkHours)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkHoursRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkHoursRate)
                @Html.ValidationMessageFor(model => model.WorkHoursRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Overtime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Overtime)
                @Html.ValidationMessageFor(model => model.Overtime)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OvertimeRate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OvertimeRate)
                @Html.ValidationMessageFor(model => model.OvertimeRate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LeavesThisMonth, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LeavesThisMonth)
                @Html.ValidationMessageFor(model => model.LeavesThisMonth)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LoanRepayment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LoanRepayment)
                @Html.ValidationMessageFor(model => model.LoanRepayment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AdvanceRepayment, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AdvanceRepayment)
                @Html.ValidationMessageFor(model => model.AdvanceRepayment)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Bonus, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Bonus)
                @Html.ValidationMessageFor(model => model.Bonus)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Absents, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Absents)
                @Html.ValidationMessageFor(model => model.Absents)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
