﻿@model IEnumerable<PayrollManagementSystem.Models.Payroll>

@{
    ViewBag.Title = "Index";
    ViewBag.Active = "Reports";
}


@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<input type="text" class="form-control" id="searchBox" placeholder="Search">
<br />
<div class="panel panel-primary">
    <div class="panel-heading">Payroll List</div>

    <table class="table table-responsive table-striped ">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Employee.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BasicPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalOvertimePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalWorkHoursPay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PayDate)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.TotalAllowances)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TotalDeductions)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.NetPay)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.PayMode)
                </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkHours)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.WorkHoursRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Overtime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OvertimeRate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LeavesThisMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoanRepayment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AdvanceRepayment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bonus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Absents)
                </th>*@

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasicPay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalOvertimePay)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalWorkHoursPay)
                </td>
                <td>
                    @{
            var date = item.PayDate.ToString("MMM, yyyy");
                    }
                    @Html.DisplayFor(modelItem => date)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.TotalAllowances)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalDeductions)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.NetPay)
                </td>

                @*<td>
                        @Html.DisplayFor(modelItem => item.PayMode)
                    </td>*@

                @*<td>
                        @Html.DisplayFor(modelItem => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EndDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkHours)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.WorkHoursRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Overtime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OvertimeRate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LeavesThisMonth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LoanRepayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AdvanceRepayment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Bonus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Absents)
                    </td>*@

                <td>
                    @Html.ActionLink("Get In PDF", "Payslip", "Reports", new { payrollId = item.Id, format = "PDF" }, null) |
                    @Html.ActionLink("Get In Excel", "Payslip", "Reports", new { payrollId = item.Id, format = "Excel" }, null) |
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
                </td>
            </tr>
        }

    </table>
</div>
<script type="text/javascript">
    $(function () {
        

        $("#searchBox").keyup(function () {
            var data = this.value.split(" ");
            var jo = $("table").find("tr");
            if (this.value == "") {
                jo.show();
                return;
            }
            jo.hide();

            jo.filter(function (i, v) {
                var $t = $(this);
                for (var d = 0; d < data.length; ++d) {
                    if ($t.is(":contains('" + data[d] + "')") || $t.is(":contains('Name')")) {
                        return true;
                    }
                }
                return false;
            })
            .show();
        }).focus(function () {
            this.value = "";
            $(this).css({
                "color": "black"
            });
            $(this).unbind('focus');
        })
    });
</script>
