﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/theme")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/datetime")


</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Payroll System", "Index", "Employee", null, new { @class = "navbar-brand" })
            </div>
            <div id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="@Url.Action("Index", "Attendance")"><i class="glyphicon glyphicon-list"></i> Attendance <span class="sr-only">(current)</span></a></li>
                    <li><a href="@Url.Action("Index", "Employee")"><i class="glyphicon glyphicon-user"></i> Employees</a></li>
                    <li><a href="@Url.Action("Index", "Reports")"><i class="glyphicon glyphicon-list-alt"></i> Reports</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="@Url.Action("Index", "Loan")"><i class="glyphicon glyphicon-credit-card"></i> Loan</a></li>
                    <li><a href="@Url.Action("Index", "Advance")"><i class="glyphicon glyphicon-usd "></i> Advance</a></li>
                    <li><a href="@Url.Action("Index", "Leave")"><i class="glyphicon glyphicon-home"></i> Leave</a></li>
                </ul>
                <ul class="nav nav-sidebar">
                    <li><a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="glyphicon glyphicon-cog"></i> Settings <i class="fa fa-fw fa-caret-down caret"></i></a></li>
                    <ul id="demo" class="collapse nav ">
                        <li>
                            @Html.ActionLink("Roles", "Index", "Roles")
                        </li>
                        <li>
                            @Html.ActionLink("Timings", "Index", "Timing")
                        </li>
                        <li>
                            @Html.ActionLink("Leave Types", "Index", "LeaveType")
                        </li>
                    </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ">
                @RenderBody()
            </div>
        </div>
    </div>
    @*<input id="justToPassRazorVariableIntoJquery" class="hide" value="@ViewBag.Title" />*@

    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(function () {
            //var tabSelected = $("#justToPassRazorVariableIntoJquery").val().toString();
            $('.nav-sidebar li').removeClass('active');
            $('a:contains("@ViewBag.Active")').parent("li").addClass('active');
            $('.date').datetimepicker({ format: 'DD/MM/YYYY hh:mm A' });

            //To apply bootstrap css class to all select elements and text-boxes.
            $("select").addClass("form-control");
            $("[type='text']").addClass("form-control");
        });
    </script>
</body>
</html>